.profile-img {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.text-darkblue {
  color: red;
}

.profile_img {
  height: 400px;
  border-radius: 30px;
}

.bg-white {
  background-color: white;
}

.accordion-item {
  background-color: transparent !important;
}

.accordion-button {
  background-color: transparent !important;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

.accordion-button:focus {
  z-index: 0;
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}
